<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta name="theme-color" content="#000000">
    <link rel="manifest" href="/rbuild/manifest.json">
    <link rel="shortcut icon" href="/rbuild/favicon.ico">
    <title>React App</title>
    <style>
        #map {
            height: 400px;
            width: 100%
        }
    </style>
    <link href="/rbuild/static/css/<%-css%>" rel="stylesheet">
</head>

<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  asdasdasd
  <div>
    <div id="root"></div>
    <div id="map"></div>
  </div>
  <script type="text/javascript" src="/rbuild/static/js/<%-js%>"></script>
</body>

</html>
